* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.cal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.com {
    margin: 10px;

}


.submit {
    display: flex;
    justify-content: center;
    align-items: center;


}

#submit {
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(153, 88, 219);
    border-radius: 5px;
    margin: 10px;

}

#reset {
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(153, 88, 219);
    border-radius: 5px;
    margin: 10px;

}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}